/****** Object:  Table [dbo].[CIUDADANO]    Script Date: 14/06/2020 20:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADANO](
	[COD_CIUDADANO] [int] NOT NULL,
	[NOM_CIUDADANO] [varchar](30) NULL,
	[APE_CIUDADANO] [varchar](30) NULL,
	[ID_PAIS] [char](3) NULL,
	[TIPO_DOCUMENTO] [int] NULL,
	[NRO_DOC] [varchar](15) NULL,
	[FECHA_NAC] [date] NULL,
	[DIRECCION] [varchar](70) NULL,
	[ID_DEPARTAMENTO] [char](3) NULL,
	[ID_PROVINCIA] [char](3) NULL,
	[ID_DISTRITO] [char](3) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CIUDADANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [char](2) NOT NULL,
	[DESCRIPCION] [char](20) NULL,
	[ESTADO] [char](1) NULL,
	[ID_PAIS] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID_DEPARTAMENTO] [char](2) NOT NULL,
	[ID_PROVINCIA] [varchar](2) NOT NULL,
	[ID_DISTRITO] [char](2) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC,
	[ID_PROVINCIA] ASC,
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID_PAIS] [char](3) NOT NULL,
	[DESCRIPCION] [char](20) NULL,
	[NACIONALIDAD] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID_DEPARTAMENTO] [char](2) NOT NULL,
	[ID_PROVINCIA] [char](2) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC,
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESULTADO]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULTADO](
	[COD_ESTADO] [int] NOT NULL,
	[NOM_ESTADO] [varchar](20) NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[RECOMENDACION] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIAJE]    Script Date: 14/06/2020 20:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIAJE](
	[COD_TRIAJE] [int] NOT NULL,
	[COD_CIUDADANO] [int] NULL,
	[DIS_GUS] [varchar](2) NULL,
	[TOS] [varchar](2) NULL,
	[DOLOR] [varchar](2) NULL,
	[DIFI] [varchar](2) NULL,
	[NASAL] [varchar](2) NULL,
	[FIEBRE] [varchar](2) NULL,
	[FECHA_INICIO] [date] NULL,
	[Sutacion1] [varchar](2) NULL,
	[Situacion2] [varchar](2) NULL,
	[Situacion3] [varchar](2) NULL,
	[OBESIDAD] [varchar](2) NULL,
	[PULMONAR] [varchar](2) NULL,
	[ASMA] [varchar](2) NULL,
	[DIABETES] [varchar](2) NULL,
	[HIPERTENSION] [varchar](2) NULL,
	[CARDIO] [varchar](2) NULL,
	[RENAL] [varchar](2) NULL,
	[CANCEL] [varchar](2) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TRIAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CIUDADANO] ([COD_CIUDADANO], [NOM_CIUDADANO], [APE_CIUDADANO], [ID_PAIS], [TIPO_DOCUMENTO], [NRO_DOC], [FECHA_NAC], [DIRECCION], [ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [ESTADO]) VALUES (1, N'Jose Pepe', N'Zegarra Ochoa', N'001', 1, N'87545785', CAST(N'1997-08-20' AS Date), N'Calle El Pino 346', N'15 ', N'01 ', N'42 ', 1)
INSERT [dbo].[CIUDADANO] ([COD_CIUDADANO], [NOM_CIUDADANO], [APE_CIUDADANO], [ID_PAIS], [TIPO_DOCUMENTO], [NRO_DOC], [FECHA_NAC], [DIRECCION], [ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [ESTADO]) VALUES (2, N'Juan Carlos', N'Torres Diaz', N'001', 1, N'25484578', CAST(N'1999-02-13' AS Date), N'JR. Los Reyes 475', N'15 ', N'02 ', N'01 ', 1)
INSERT [dbo].[CIUDADANO] ([COD_CIUDADANO], [NOM_CIUDADANO], [APE_CIUDADANO], [ID_PAIS], [TIPO_DOCUMENTO], [NRO_DOC], [FECHA_NAC], [DIRECCION], [ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [ESTADO]) VALUES (3, N'Alberto Antonio', N'Borjas Vera', N'001', 1, N'78569547', CAST(N'1995-04-16' AS Date), N'Jr.Huascar 956', N'15 ', N'02 ', N'02 ', 1)
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [DESCRIPCION], [ESTADO], [ID_PAIS]) VALUES (N'01', N'AMAZONAS            ', N'A', N'001')
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [DESCRIPCION], [ESTADO], [ID_PAIS]) VALUES (N'02', N'ANCASH              ', N'A', N'001')
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [DESCRIPCION], [ESTADO], [ID_PAIS]) VALUES (N'03', N'APURIMAC            ', N'A', N'001')
INSERT [dbo].[DISTRITO] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'01', N'01', N'CHACHAPOYAS', N'A')
INSERT [dbo].[DISTRITO] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'01', N'02', N'ASUNCION', N'A')
INSERT [dbo].[DISTRITO] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [ID_DISTRITO], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'01', N'03', N'BALSAS', N'A')
GO
INSERT [dbo].[PAIS] ([ID_PAIS], [DESCRIPCION], [NACIONALIDAD]) VALUES (N'001', N'PERÚ                ', N'A')
INSERT [dbo].[PAIS] ([ID_PAIS], [DESCRIPCION], [NACIONALIDAD]) VALUES (N'002', N'COLOMBIA            ', N'A')
INSERT [dbo].[PAIS] ([ID_PAIS], [DESCRIPCION], [NACIONALIDAD]) VALUES (N'003', N'BRASIL              ', N'A')
INSERT [dbo].[PROVINCIA] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'01', N'CHACHAPOYAS                                       ', N'A')
INSERT [dbo].[PROVINCIA] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'02', N'BAGUA                                             ', N'A')
INSERT [dbo].[PROVINCIA] ([ID_DEPARTAMENTO], [ID_PROVINCIA], [DESCRIPCION], [ESTADO]) VALUES (N'01', N'03', N'BONGARA                                           ', N'A')
GO
INSERT [dbo].[RESULTADO] ([COD_ESTADO], [NOM_ESTADO], [DESCRIPCION], [RECOMENDACION]) VALUES (1, N'Sano', N'NO, te encuentras sano', N'XXXXXXX')
INSERT [dbo].[RESULTADO] ([COD_ESTADO], [NOM_ESTADO], [DESCRIPCION], [RECOMENDACION]) VALUES (2, N'Sospechoso', N'NO, pero podrías tenerlo', N'XXXXXXX')
INSERT [dbo].[RESULTADO] ([COD_ESTADO], [NOM_ESTADO], [DESCRIPCION], [RECOMENDACION]) VALUES (3, N'Leve', N'Es muy probable, estás con algunos síntomas pero son leves', N'XXXXXXX')
