
<p-blockUI #pnl [blocked]="blocked">
  <div class="ui-g" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <i class="fa fa-spinner fa-spin fa-5x" style="color:white; margin: 0 auto;"></i>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
      <strong>Procesando</strong>
    </div>
  </div>
</p-blockUI>
<div class="ui-fluid" #frm>
  <p-panel header="NIVELES DE APROBACION : Filtros de Búsqueda">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-2 ui-lg-1">
        <label>Compañía</label>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2">
        <p-dropdown [options]="companias" [(ngModel)]="filtro.compania" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-1">
        <label>Aplicación</label>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2">
        <p-dropdown [options]="lstAplicacion" [(ngModel)]="filtro.idAplicacion" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-1">
        <label>Estado</label>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2">
        <p-dropdown [options]="lstEstados" [(ngModel)]="filtro.estado" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
      </div>
    </div>

  </p-panel>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-11"></div>
    <div class="ui-g-12 ui-md-3 ui-lg-1">
      <button pButton label="Buscar" icon="fa fa-binoculars" class="ui-button" type="button" (click)="buscar()"></button>
    </div>
  </div>
  <p-dataTable #datatable [responsive]="true" [rows]="20" [paginator]="true" [value]="lstNiveles">
    <p-column header="Código" field="codigo" styleClass="textoCentrado" [style]="{'width':'50px'}"></p-column>
    <p-column header="Aplicación" field="auxAplicacionNombre" [style]="{'width':'250px'}"></p-column>
    <p-column header="Descripción" field="descripcion" [style]="{'width':'250px'}"></p-column>
    <p-column header="Estado" field="auxEstadoNombre" styleClass="textoCentrado" [style]="{'width':'50px'}"></p-column>
    <p-column header="Acción" styleClass="textoCentrado" [style]="{'width':'60px'}">
      <ng-template let-tx="rowData" pTemplate="body">
        <div class="ui-g" *ngIf="tx.auxEstadoNombre=='Activo'">
          <div class="ui-g-4 ui-md-4 ui-lg-4" title="Editar">
            <i class="fa fa-pencil fa-lg seleccionable" (click)="editar(tx)"></i>
          </div>
          <div class="ui-g-4 ui-md-4 ui-lg-4" title="Inactivar">
            <i class="fa fa-level-down fa-lg seleccionable" (click)="inactivar(tx)"></i>
          </div>
          <div class="ui-g-4 ui-md-4 ui-lg-4" title="Anular">
            <i class="fa fa-times fa-lg seleccionable" (click)="anular(tx)"></i>
          </div>
        </div>
        <div class="ui-g" *ngIf="tx.auxEstadoNombre!='Activo'">
          <div class="ui-g-4 ui-md-4 ui-lg-4" title="Editar">
            <i class="fa fa-pencil fa-lg seleccionable" (click)="editar(tx)"></i>
          </div>
          <div class="ui-g-4 ui-md-4 ui-lg-4" title="Eliminar">
            <i class="fa fa-times fa-lg seleccionable" (click)="eliminar(tx)"></i>
          </div>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <p-confirmDialog key="eliminarNivel" #ec>
    <p-footer>
      <button type="button" pButton icon="fa fa-check" label="Si" (click)="ec.accept()"></button>
      <button type="button" pButton icon="fa fa-close" label="No" (click)="ec.reject()"></button>
    </p-footer>
  </p-confirmDialog>
  <p-confirmDialog key="inactivarNivel" #c>
    <p-footer>
      <button type="button" pButton icon="fa fa-check" label="Si" (click)="c.accept()"></button>
      <button type="button" pButton icon="fa fa-close" label="No" (click)="c.reject()"></button>
    </p-footer>
  </p-confirmDialog>