<p-blockUI [blocked]="blocked">
    <div class="ui-g"
        style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <i class="fa fa-spinner fa-spin fa-5x" style="color:white; margin: 0 auto;"></i>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
            <strong>Procesando</strong>
        </div>
    </div>
</p-blockUI>

<div class="ui-fluid" #frm>
    <div class="ui-g ui-md ui-lg">
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="ui-g-12 ui-md-12 ui-lg-4"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-4">
                <button pButton label="Volver" type="button" icon="fa fa-mail-reply" (click)="volver()"style="width:100%"></button>
            </div>
            <div class="card">
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: center;text-decoration: underline;">
                    <label>
                        <h3>Datos del ciudadano</h3>
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Código:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <label>
                        {{ciudadano.codigo}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label style="font-weight: bold;">
                        DNI:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label>
                        {{ciudadano.documento}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Nombre:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.nombre}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Apellido:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.apellido}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Edad:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.edad}} años
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        País:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.nompais}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Dirección actual:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.direccion}}
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label style="font-weight: bold;">
                        Ubigeo:
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <label>
                        {{ciudadano.nomdepartamento}}/{{ciudadano.nomprovincia}}/{{ciudadano.nomdistrito}}
                    </label>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel header="Triajes">
                <p-table #dt [value]="listadoTriajes" [columns]="cols" [scrollable]="true" [responsive]="true"
                    scrollHeight="215px">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns" [style.width.px]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-columns="columns">
                        <tr [pSelectableRow]="row">
                            <td class="textoCentrado">{{row.secuencia}}</td>
                            <td class="textoCentrado">{{row.num1}}</td>
                            <td class="textoCentrado">{{row.num2}}</td>
                            <td class="textoCentrado">{{row.num3}}</td>
                            <td style="text-align: center;">

                                <div class="ui-g-12 ui-md-12 ui-lg-12" [ngStyle]="obtenerEstilos(row.valor1)">
                                </div>

                            </td>
                            <td class="textoCentrado">
                                {{row.fechainicio1 | date: 'dd/MM/yyyy hh:mm:ss'}}
                            </td>
                            <td>
                                <div class="ui-g" class="textoCentrado">
                                    <div class="ui-g-4 ui-md-4 ui-lg-12" title="Ver triaje">
                                        <i class="fa fa-eye fa-lg seleccionable" (click)="obtener(row)"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length">
                                No se encontraron registros
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Registros encontrados : {{listadoTriajes.length}}
                    </ng-template>
                </p-table>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-2">
            <div class="card">
                <div class="ui-g ui-md ui-lg">
                    <label>
                        <h3>Estados según color:</h3>
                    </label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="height: 40px;" *ngFor="let item of resultados">
                    <div class="ui-g-12 ui-md-12 ui-lg-8">
                        <label style="font-weight: bold;">
                            {{item.nombre}}:
                        </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12 ui-md-12 ui-lg-12" [ngStyle]="obtenerEstilos(item.color)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-panel header="Triaje número: {{dtoTriaje.secuencia}}">
            <div class="ui-g ui-md ui-lg">

                <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <p-fieldset legend="SÍNTOMATOLOGÍA" [style]="{'height':'470px'}">
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <label>
                                    <h3>Síntomas seleccionados:</h3>
                                </label>
                            </div>
                        </div>
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-4 ui-md-3 ui-lg-4">
                                <label>Fecha de inicio</label>
                            </div>
                            <div class="ui-g-8 ui-md-4 ui-lg-4">
                                <p-calendar [(ngModel)]="dtoTriaje.fechainicio" [monthNavigator]="true"
                                    [disabled]="true" [yearNavigator]="true " [locale]="es" yearRange="1940:2200"
                                    appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.disgus" binary="true" [disabled]="true"
                                    label="Disminución en los sentidos de olfato y gusto"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.tos" binary="true" [disabled]="true" label="Tos">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.dolor" binary="true" [disabled]="true"
                                    label="Dolor de garganta">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.difi" binary="true" [disabled]="true"
                                    label="Dificultad para respirar">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.nasal" binary="true" [disabled]="true"
                                    label="Congestión Nasal">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.fiebre" binary="true" [disabled]="true"
                                    label="Fiebre">
                                </p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <p-fieldset legend="SITUACIONES DE RIESGO" [style]="{'height':'470px'}">
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-3 ui-lg-12">
                                <label>
                                    <h4>¿En los últimos 14 días, has tenido contacto con un caso confirmado de COVID-19?
                                    </h4>
                                </label>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion1" name="situacion1" [disabled]="true"
                                    label="Si" value="SI">
                                </p-radioButton>
                            </div>

                            <div class="ui-g-6 ui-md-3 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion1" name="situacion1" [disabled]="true"
                                    label="No" value="NO">
                                </p-radioButton>
                            </div>
                        </div>
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-3 ui-lg-12">
                                <label>
                                    <h4>¿En los últimos 14 días, te has desplazado a un distrito diferente al de
                                        docimicilio
                                        actual?</h4>
                                </label>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion2" name="situacion2" [disabled]="true"
                                    label="Si" value="SI">
                                </p-radioButton>
                            </div>

                            <div class="ui-g-6 ui-md-3 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion2" name="situacion2" [disabled]="true"
                                    label="No" value="NO">
                                </p-radioButton>
                            </div>
                        </div>
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-3 ui-lg-12">
                                <label>
                                    <h4>¿Trabajas en un establecimiento de salud o has estado en uno?</h4>
                                </label>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion3" name="situacion3" [disabled]="true"
                                    label="Si" value="SI">
                                </p-radioButton>
                            </div>

                            <div class="ui-g-6 ui-md-3 ui-lg-12">
                                <p-radioButton [(ngModel)]="dtoTriaje.situacion3" name="situacion3" [disabled]="true"
                                    label="No" value="NO">
                                </p-radioButton>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <p-fieldset legend="CONDICIONES MÉDICAS" [style]="{'height':'470px'}">
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-3 ui-lg-12">
                                <label>
                                    <h3>Enfermedades o condiciones médicas seleccionadas:</h3>
                                </label>
                            </div>
                        </div>
                        <div class="ui-g ui-md ui-lg">
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.obesidad" binary="true" [disabled]="true"
                                    label="Obesidad">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.pulmonar" binary="true" [disabled]="true"
                                    label="Enfermedad pulmonar crónica">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.asma" binary="true" [disabled]="true" label="Asma">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.diabetes" binary="true" [disabled]="true"
                                    label="Diabetes">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.hipertension" binary="true" [disabled]="true"
                                    label="Hipertensión Arterial"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.cardio" binary="true" [disabled]="true"
                                    label="Enfermedad cardiovascular"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12" style="height: 40px;">
                                <p-checkbox [(ngModel)]="dtoTriaje.renal" binary="true" [disabled]="true"
                                    label="Insuficiencia renal crónica"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-12">
                                <p-checkbox [(ngModel)]="dtoTriaje.cancer" binary="true" [disabled]="true"
                                    label="Cáncer">
                                </p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </p-panel>
    </div>


    <p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="300" #cd>
        <p-footer>
            <div class="ui-g ui-g-nopad">
                <div class="ui-g-6 ui-md-6 ui-lg-5">
                    <button type="button" pButton icon="fa fa-check" label="Si" (click)="cd.accept()"></button>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5">
                    <button type="button" pButton icon="fa fa-close" label="No" (click)="cd.reject()"></button>
                </div>
            </div>
        </p-footer>
    </p-confirmDialog>
</div>
<!-- 
<app-conocimiento-mantenimiento (bloquear)="bloquearPagina()" (desbloquear)="desbloquearPagina()"
    (buscarpadre)="buscar(dt)">
</app-conocimiento-mantenimiento> -->