<p-blockUI [blocked]="blocked">
    <div class="ui-g" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <i class="fa fa-spinner fa-spin fa-5x" style="color:white; margin: 0 auto;"></i>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
            <strong>Procesando</strong>
        </div>
    </div>
</p-blockUI>

<div class="ui-fluid" #frm>
    <p-panel header="ITEMS: Filtros de Búsqueda">
        <div class="ui-g ui-md ui-lg">

            <div class="ui-g-4 ui-md-1 ui-lg-1 controlEtiquetaDivTop">
                <label>Código</label>
            </div>
            <div class="ui-g-8 ui-md-2 ui-lg-2">
                <input pInputText type="text" [(ngModel)]="filtro.codigo" (keypress)="defaultBuscar($event)">
            </div>

            <div class="ui-g-4 ui-md-1 ui-lg-1 controlEtiquetaDivTop">
                <label>Nombre</label>
            </div>
            <div class="ui-g-8 ui-md-5 ui-lg-4">
                <input pInputText [(ngModel)]="filtro.nombre" (keypress)="defaultBuscar($event)" type="text">
            </div>

            <div class="ui-g-4 ui-md-1 ui-lg-1 controlEtiquetaDiv">
                <label>Estado</label>
            </div>
            <div class="ui-g-8 ui-md-2 ui-lg-1 controlEtiquetaDivTop">
                <p-dropdown [options]="estados" [(ngModel)]="filtro.estado" [autoWidth]="false"></p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-1 ui-lg-1 controlEtiquetaDivTop">
                <label>Registros</label>
            </div>
            <div class="ui-g-8 ui-md-5 ui-lg-1">
                <input pInputText [(ngModel)]="filtro.cantidad" type="number">
            </div>
        </div>




    </p-panel>


    <div class="ui-g ui-md ui-lg">
        <div class="ui-g-3 ui-md-2 ui-lg-2">
            <button pButton label="Nuevo" icon="fa fa-plus" type="button" class="ui-button" (click)='nuevo()'></button>
        </div>

        <div class="ui-g-6 ui-md-8 ui-lg-8">

        </div>

        <div class="ui-g-3 ui-md-2 ui-lg-2">
            <button pButton label="Buscar" icon="fa fa-binoculars" type="button" class="ui-button" (click)="buscar(dt)"></button>
        </div>

    </div>




    <div class="ui-g ui-md ui-lg">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-dataTable #dt scrollable="true" [responsive]="true" [rows]="filtro.paginacion.cantidadRegistrosDevolver"
                emptyMessage="No se encontraron registros" [paginator]="true" [lazy]="true" [totalRecords]="filtro.paginacion.registroEncontrados"
                (onLazyLoad)="cargarPaginacion($event)" [value]="filtro.paginacion.listaResultado" scrollWidth="100%">

                <p-column header="Código" [style]="{'width':'100px'}" field="idItem" styleClass="textoCentrado"></p-column>
                <p-column header="Nombre" [style]="{'width':'200px'}" field="nomItem"></p-column>

                <p-column header="Clase" [style]="{'width':'200px'}" field="nomClase"></p-column>
                <p-column header="Grupo" [style]="{'width':'200px'}" field="nomGrupo"></p-column>
                <p-column header="Unidad" [style]="{'width':'100px'}" field="nomUnidad"></p-column>
                <p-column header="Coeficiente" [style]="{'width':'80px'}" field="coeficiente"></p-column>

                <p-column header="Estado" [style]="{'width':'100px'}" field="estado" styleClass="textoCentrado">
                    <ng-template let-tx="rowData" pTemplate="body">
                        {{tx.estado=='A'?'Activo':'Inactivo'}}
                    </ng-template>
                </p-column>

                <p-column header="Acción" [style]="{'width':'100px'}" styleClass="textoCentrado">
                    <ng-template let-tx="rowData" pTemplate="body">
                        <div class="ui-g">
                            <div class="ui-g-4 ui-md-4 ui-lg-4" title="Editar">
                                <i class="fa fa-pencil fa-lg seleccionable" (click)="editar(tx)"></i>
                            </div>

                            <div class="ui-g-4 ui-md-4 ui-lg-4" title="Ver">
                                <i class="fa fa-eye fa-lg seleccionable" (click)="ver(tx)"></i>
                            </div>

                            <div class="ui-g-4 ui-md-3 ui-lg-4" title="Anular" *ngIf="tx.estado === 'A'">
                                <i class="fa fa-trash fa-lg seleccionable" (click)="anular(tx)"></i>
                            </div>
                        </div>
                    </ng-template>
                </p-column>





            </p-dataTable>
        </div>
    </div>
    <!-- (reiniciarSeleccionados)="reiniciarSeleccionados()" (mostrarMensajeEjecutar)="mostrarMensajeEjecutar($event)" -->
    <aprobacion-preguntas></aprobacion-preguntas>

    <p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="300" #cd>
        <p-footer>
            <div class="ui-g ui-g-nopad">
                <div class="ui-g-6 ui-md-6 ui-lg-5">
                    <button type="button" pButton icon="fa fa-check" label="Si" (click)="cd.accept()"></button>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5">
                    <button type="button" pButton icon="fa fa-close" label="No" (click)="cd.reject()"></button>
                </div>
            </div>
        </p-footer>
    </p-confirmDialog>

    <div class="ui-fluid ">
        <p-dialog header="ITEMS : {{accion == ACCIONES.NUEVO?'Nuevo':accion == ACCIONES.EDITAR?'Edición':accion == ACCIONES.VER?'Vista Previa':''}}"
            [(visible)]="verModalFolio" [modal]="true" [responsive]="true " [resizable]="false" [draggable]="true "
            [closable]="true " [closeOnEscape]="true" hideEffect="size " [style]="{'max-width':'900px', 'left':'15px', 'right':'15px', 'margin-top':'25px'}">

            <div class="ui-fluid" #frm>



                <div class="ui-g ui-md ui-lg">
                    <div class="ui-g-12 ui-md-3 ui-lg-2 cntrolEtiquetaDivTop">
                        <label>Código<span style="color:#ff0000"> *</span></label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                        <input pInputText maxlength="10" [disabled]="!puedeEditar || accion == ACCIONES.EDITAR"
                            [(ngModel)]="psItem.idItem" type="text">
                    </div>
                </div>
                <div class="ui-g ui-md ui-lg">
                    <div class="ui-g-12 ui-md-3 ui-lg-2 cntrolEtiquetaDivTop">
                        <label>Nombre<span style="color:#ff0000"> *</span></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-10">
                        <input pInputText maxlength="200" [disabled]="!puedeEditar" [(ngModel)]="psItem.nombre" type="text">
                    </div>
                </div>


                <div class="ui-g ui-md ui-lg">

                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Descripción</label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-10">
                        <input pInputText maxlength="500" [disabled]="!puedeEditar" [(ngModel)]="psItem.descripcion"
                            type="text">
                    </div>
                </div>

                <div class="ui-g ui-md ui-lg">
                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Tipo de Item<span style="color:#ff0000"> *</span></label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <p-dropdown appendTo="body" [options]="tipos" [disabled]="!puedeEditar" [(ngModel)]="psItem.idTipoItem"
                            [autoWidth]="false"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Clase</label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <p-dropdown appendTo="body" [options]="clases" [disabled]="!puedeEditar" [(ngModel)]="psItem.idClase"
                            [autoWidth]="false"></p-dropdown>
                    </div>



                </div>
                <div class="ui-g ui-md ui-lg">
                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Grupo</label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <p-dropdown appendTo="body" [options]="grupos" [disabled]="!puedeEditar" [(ngModel)]="psItem.idGrupo"
                            [autoWidth]="false"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Unidad de medida</label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <p-dropdown appendTo="body" [options]="unidades" [disabled]="!puedeEditar" [(ngModel)]="psItem.idUnidadMedida"
                            [autoWidth]="false"></p-dropdown>
                    </div>
                </div>

                <div class="ui-g ui-md ui-lg">
                    <div class="ui-g-12 ui-md-3 ui-lg-2 cntrolEtiquetaDivTop" style="display: none;">
                        <label>Kilocalorías</label>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-lg-4" style="display: none;">
                        <input pInputText [disabled]="!puedeEditar || accion == ACCIONES.EDITAR" [(ngModel)]="psItem.kilocalorias"
                            type="number">
                    </div>



                    <div class="ui-g-12 ui-md-3 ui-lg-2 cntrolEtiquetaDivTop">
                        <label>Coeficente</label>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <input pInputText [disabled]="!puedeEditar" [(ngModel)]="psItem.coeficiente" type="number">
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-lg-2 controlEtiquetaDivTop">
                        <label>Estado</label>
                    </div>
                    <div class="ui-g-12 ui-md-3 ui-lg-4">
                        <p-dropdown appendTo="body" [options]="estados" [disabled]="!puedeEditar || accion == ACCIONES.NUEVO"
                            [(ngModel)]="psItem.estado" [autoWidth]="false"></p-dropdown>
                    </div>
                </div>


            </div>

            <div class="ui-g ui-md ui-lg">
                <div class="ui-g-12 ui-md-12 ui-lg-12 cntrolEtiquetaDivTop">
                </div>
            </div>
            <div class="ui-g ui-md ui-lg">
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="width: 100% ; height: 13%; background-color: #9D4C3D; border: 1px solid #9D4C3D;
                                        color:#ffffff ; font-weight: 700; padding: 0.571em 1.143em">
                    <label>Auditoría</label>
                </div>

                <div *ngIf="accion == ACCIONES.NUEVO" class="ui-g-12 ui-md-12 ui-lg-12" style="width: 100% ; height: 16%; border: 1px solid #d6d7d9">
                    <div class="ui-g-12 ui-md-2 ui-lg-3 controlEtiquetaDivTop">

                    </div>
                    <div class="ui-g-3 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>Creación: </label>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{psItem.creacionUsuario}}</label>
                    </div>
                    <div class="ui-g-5 ui-md-3 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{fechaactual | date: 'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                </div>

                <div *ngIf="!puedeEditar || accion == ACCIONES.EDITAR" class="ui-g-12 ui-md-12 ui-lg-12" style="width: 100% ; height: 16%; border: 1px solid #d6d7d9">
                    <div class="ui-g-3 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>Creación: </label>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{psItem.creacionUsuario}}</label>
                    </div>
                    <div class="ui-g-5 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{psItem.creacionFecha | date: 'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                    <div class="ui-g-3 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>Modificación: </label>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{psItem.modificacionUsuario}}</label>
                    </div>
                    <div class="ui-g-5 ui-md-2 ui-lg-2 controlEtiquetaDivTop" style="text-align: center">
                        <label>{{psItem.modificacionFecha | date: 'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                </div>
            </div>

            <div class="ui-g ui-md ui-lg">
                <div class="ui-g-4 ui-md-3 ui-lg-2">
                    <button *ngIf="puedeEditar" pButton label="Guardar" icon="fa fa-save" type="button" class="ui-button"
                        (click)="guardar()"></button>
                </div>

                <div class="ui-g-4 ui-md-6 ui-lg-8">

                </div>

                <div class="ui-g-4 ui-md-3 ui-lg-2">
                    <button pButton label="Salir" icon="fa fa-close" type="button" class="ui-button" (click)="verModalFolio=false"></button>
                </div>

            </div>



        </p-dialog>
    </div>
</div>