<div class="layout-footer ui-g-12">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 footer-left">
            <h3>Ministerio de Educación</h3>
            <p>Trabajamos para que todos los peruanos y peruanas puedan ejercer su derecho a la educación.</p>
        </div>
        <!-- <div class="ui-g-12 ui-md-6 footer-right">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-youtube"></i>
            </a>
        </div> -->
    </div>
</div>