<div class="ui-fluid">
    <p-dialog header="SELECTOR DE CENTRO DE COSTOS" [(visible)]="verSelector" modal="modal" showEffect="fade" hideEffect="size"
    [style]="{'max-width':'800px', 'left':'15px', 'right':'15px', 'margin-top':'25px'}">
        <p-panel header="Filtros de Búsqueda">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-1">
                    <label>Código</label>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-1">
                    <input pInputText [(ngModel)]="filtro.codigo" (keypress)="preBuscar($event, dtCostCenter)" />
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3 ">
                    <label>Descripción</label>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-5">
                    <input pInputText type="text" [(ngModel)]="filtro.nombre" (keypress)="preBuscar($event, dtCostCenter)" />
                </div>
            </div>
        </p-panel>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                <button pButton label="Buscar" icon="fa fa-save" type="button" (click)="buscar(dtCostCenter)" class="ui-button"></button>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8"></div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                <button pButton label="Salir" icon="fa fa-close" class="ui-button" type="button" (click)="salir()"></button>
            </div>
        </div>

        <p-dataTable #dtCostCenter [(selection)]="registroSeleccionado" selectionMode="single" [responsive]="true" [rows]="registrosPorPagina"
            [paginator]="true" [lazy]="true" scrollWidth="100%" emptyMessage="No se encontraron registros" (onRowDblclick)="onRowSelect($event)"
            [totalRecords]="filtro.paginacion.registroEncontrados" (onLazyLoad)="cargarCostCenter($event)" [value]="filtro.paginacion.listaResultado">
            <p-column header="Código" field="costcenter" [style]="{'width':'100px'}"></p-column>
            <p-column header="Descripción" field="localname"></p-column>
            <p-column header="Estado" [style]="{'width':'100px'}">
                <ng-template let-tx="rowData" pTemplate="body">
                    {{tx.status=='A'?'Activo':'Inactivo'}}
                </ng-template>
            </p-column>
        </p-dataTable>

    </p-dialog>
</div>