
ALTER FUNCTION [sgseguridadsys].[FN_CalcularEdad] 
(	
	 @FechaNaciomiento	   DATETIME
)

RETURNS VARCHAR(100)
AS
BEGIN
  DECLARE
  @LFECHA datetime,
  @LTMPFECH datetime,
  @LANIOS int,
  @LMESES int,
  @LDIAS int,
  @Calculado VARCHAR(100)

    SELECT @LFECHA = @FechaNaciomiento
 
	SELECT @LTMPFECH = @LFECHA
   
    SELECT @LANIOS = DATEDIFF(yy, @LTMPFECH, GETDATE()) - CASE WHEN (MONTH(@LFECHA) > MONTH(GETDATE())) OR (MONTH(@LFECHA) = MONTH(GETDATE()) AND DAY(@LFECHA) > DAY(GETDATE())) THEN 1 ELSE 0 END
	SELECT @LTMPFECH = DATEADD(yy, @LANIOS, @LTMPFECH)
	SELECT @LMESES = DATEDIFF(m, @LTMPFECH, GETDATE()) - CASE WHEN DAY(@LFECHA) > DAY(GETDATE()) THEN 1 ELSE 0 END
	SELECT @LTMPFECH = DATEADD(m, @LMESES, @LTMPFECH)
	SELECT @LDIAS = DATEDIFF(d, @LTMPFECH, GETDATE())

	SET @Calculado=CONCAT( 'Años: ' , @LANIOS , ' Meses: ' , @LMESES  , ' Días: ' , @LDIAS)
 
	return @Calculado

END