/* You can add global styles to this file, and also import other style files */
.bordeGenerico{
    border:1px solid; color:#565555;
    padding:8px;border-radius: 9px;
}

.row-hover{
    cursor: pointer;
    background: #0b770bdc !important;
    color: #ffffff !important;
  }

  /* .ui-datatable-data> tr> td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 290px;
  }  */


